<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset = UTF-8>
		<title>{title}</title>
	</head>
	<body>
		<p>"-Who are you?
		-A {name}!"</p>
		<p>And surname?
		-Is {surname}</p>
		<p>Whats your age?
		-I'm {age}</p>
		<p>Whats your profession?
		-I'm a {profession}</p>
	</body>
</html>
